/*------------------------------------MAIN-----------------------------------------------*/
.main {
  padding: 5px 0px 15px 0px;
  margin: 10px;
  height: 100%;
}
.main-content {
  margin: 18px 96px 16px 96px;
}
.main-content__sidebar {
  height: 100%;
  font-family: "DM Sans", serif;
  float: left;

  padding: 0px 15px 15px 0px;
  min-width: 20%;
}
.main-content__page {
}
.products-block {
  min-height: 1300px;
  border-left: 1px solid #cecece;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 15px;
}
/*------------------------PAGINATION-------------------*/
.pagination-block {
  margin: 0 10%;
}
